


/* ==================== CSS Structure ==================== 

	 * 1.0 RESET STYLES	
	 * 2.0 BOOTSTRAP FIX FOR WINPHONR 8 AND IE10 
	 * 3.0 BASIC STYLES
	 * 4.0 TYPOGRAOHY
	 * 5.0 PRELOADER
	 * 6.0 VIDEO BACKGROUND
	 * 7.0 PARALLAX BACKGROUND 
	 * 7.1 TRIANGLIFY BACKGROUND 
	 *
	 * 8.0 HEADER
	 * 9.0 HOME SECTION - SLIDER
	 * 9.1 - ABOUT SECTION - SLIDER
	 * 9.2 - SERVICES SECTION - SLIDER 
	 * 9.3 - CONTACT SECTION - SLIDER 
	 * 9.4 - TEAM SECTION - SLIDER
	 * 
	 * 10.0 CLOCK COUNTDOWN
	 * 11.0 FLEXSLIDERS + TEXTSLIDERS
	 * 12.0 FORMS
	 * 13.0 FOOTER
	 * 14.0 SOCIALS ICONS 
	 * 15.0 BUTTONS
	 * 16.0 OVERLAY STYLES
	 * 17.0 BACKGROUND COLOR STYLES
	 * 18.0 SHORTCODES STYLES
	 * 19.0 MS IE STYLES
	 * 20. 0MOBILE STYLES 
	 * 21.0 RESPONSIVE STYLES
  
========================================================== */



/* ==================== 1.0 RESET STYLES ==================== */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ==================== 2.0 BOOTSTRAP FIX FOR WINPHONR 8 AND IE10  ==================== */

@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

/* ==================== 3.0 BASIC STYLES ==================== */


body {
	color: #fff;
	background: #F5B7A0;
	line-height: 1;
	font-size: 16px;
	font-family: 'Open Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	line-height: 28px;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	overflow-x: hidden;
	white-space: normal;
	position: relative;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input,
select,
textarea { 
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-family: 'Raleway', sans-serif;
}

/* ==================== 4.0 TYPOGRAOHY ==================== */


h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	margin-bottom: 10px;
	line-height: 1.2em;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 62px;
	position: relative;
	margin-bottom: 0px;
	text-shadow: 0 -1px 0 #fff, 0 1px 0 #f7a588, 0 2px 0 #f7a588, 0 3px 0 #f7a588, 0 4px 0 #f7a588, 0 5px 0 #f7a588, 0 6px 0 #f7a588, 0 7px 0 #f7a588, 0 8px 0 #f7a588, 0 9px 0 #f7a588;
}

h2 {
	font-family: 'Raleway', sans-serif;
	font-size: 48px;
	position: relative;
}

h3 {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
}

h4 {
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
}

h6 {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
}

p {
	margin-bottom: 20px;
}

p.lead {
	font-family: 'Raleway', sans-serif;
	font-size: 21px;
	padding: 0;
	font-weight: 400;
}

, a > * {
	cursor: pointer;
	text-decoration: none;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

a:hover, a > *:hover, a:focus {
	text-decoration: none;
	outline: 0;
}
ul {
	list-style:none;
}
em {
	font-style: italic;
}

strong {
	font-weight: 700;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.color-white {
	color: #fff;
}



/* ==================== 8.0 HEADER ==================== */

.logo-site {
	margin: auto;
	width: 100%;
	vertical-align: middle;
	position: relative;
	overflow: hidden;
}

.logo-site img {
	display: block;
	margin: 0 auto;
}

.title-section {
	text-align: center;
	letter-spacing: 0;
	margin-top:20px;
	margin-bottom: 20px;
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
    color: #fff;
    font-weight: 300;
	position: relative;
}

.header-section {
	padding-bottom: 0px;
}

/* ==================== 10.0 CLOCK COUNTDOWN ==================== */


#clock-countdown {
	color: #fff;
	overflow: hidden;
}

.counter-container {
	display: table;
	margin: 0 auto;
}

#clock-countdown .counter-box {
	display: block;
	width: 160px;
	text-align: center;
	overflow: hidden;
	padding: 10px 25px;
	float: left;
	margin: 25px 0;
	position: relative;
}

#clock-countdown .number {
	font-size: 80px;
	text-align: center;
	font-family: 'Monteserrat', sans-serif;
	font-weight: 700;
	line-height: 1;
	margin-bottom: 10px;
}

#clock-countdown span {
	display: block;
	font-size: 21px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding-top: 10px;
	position: relative;
	overflow: hidden;
}

#clock-countdown span:before {
	position: absolute;
	content: '';
	display: block;
	width: 30px;
	height: 1px;
	background: #fff;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0px;
}


/* ==================== 13.0 FOOTER ==================== */

.copy-right {
	background: transparent;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: 10000;
	width: 100%;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
	-webkit-transition: position .5s ease;
	-moz-transition: position .5s ease;
	-ms-transition: position .5s ease;
	-o-transition: position .5s ease;
	transition: position .5s ease;
}

.copyright {
	line-height: 80px;
	padding-left: 15px;
}


/* ==================== 20.0 MOBILE STYLES ==================== */


body.mobile {
	-webkit-text-size-adjust:none;
}

body.mobile .animated {
	display: block;
	visibility: visible;
}

.windowsphone .logo-site,
.windowsphone .logo-site img {
	display: block !important;
	visibility: visible !important;
	margin: 0 auto !important;
}

/* ==================== 21.0 RESPONSIVE STYLES ==================== */


@media(min-width:1300px){
	.main-site .container {
		width: 1170px;
	}
}

@media(max-width:991px){

	.main-site .page-container {
		display: block;
		vertical-align: middle;
	}

	.main-site.fullscreen {
		display: block;
		height: auto;
		padding: 200px 80px;
	}
	
	h1 {
		font-size: 50px;
	}

	h2 {
		font-size: 44px;
	}

	h3 {
		font-size: 22px;
	}

	#clock-countdown .counter-box {
		width: 170px;
		padding: 15px 15px;
	}

}

@media(max-width:768px){
	
	
	.counter-container {
		max-width: 100%;
		width: auto;
		margin: 0 auto;
		border-left: 0;
		border-right: 0;
		padding: 0px;
	}
	
	#clock-countdown .counter-box {
		width: 100%;
		float: none;
		border: none;
	}

}

@media (max-width:640px){
	
	
	.copyright {
		line-height: 50px;
	}

}
.btn_cont {
	width: 150px;
	margin: 0 auto;
}
.button {
  width: 150px;
  margin: 0 auto !important;
  padding: 20px;
  border: 2px solid #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  overflow:hidden;
  transition: .3s;
  text-shadow: 0 -1px 0 #fff, 0 1px 0 #f7a588, 0 2px 0 #f7a588, 0 3px 0 #f7a588, 0 4px 0 #f7a588;
}
.button:after {
    position: absolute;
    transition: .2s;
    content: '';
    width: 0%;
    left: 0;
    bottom: 0;
    height: 3px;
    background: #f7f7f7;
 }
 .button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 0px 3px #f7f7f7;
    color: white;
  }

.month {
	animation-delay: 3s;
}
.month_cont {
	animation-delay: 1.5s;
}


.filter {
		  width: 100%;
		  height: 100%;
		  position: absolute;
		  top: 0;
		  left: 0;
		  background:  #fe5757;
		  animation: colorChange 30s ease-in-out infinite;
		  animation-fill-mode: both;
		  mix-blend-mode: overlay;
		}
		
		@keyframes colorChange {
		  0%,
		  100% {
		    opacity: 0;
		  }
		  50% {
		    opacity: .9;
		  }
		}
